body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

form {
    margin-right: 20px;
}

.container {
    width: 100%;
    max-width: 960px;
}

.page-container {
    display: flex;
    width: 100%;    
    max-width: 1170px;
    align-items: stretch; 
    margin-top: 1rem; 
}

.page-content {
    background-color: aquamarine;
    height: 100%;
}

.sidebar {
    width: 260px;
    flex-shrink: 0;
    padding: 15px; 
    margin-right: 10px;
    box-sizing: border-box;
    position: sticky;
    top: 50px;
    align-self: flex-start;
    height: calc(100vh - 50px);
    overflow-y: auto;
}

.sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar li {
    margin-bottom: 5px; 
}

.sidebar a {
    text-decoration: none;
    color: #333;
    display: block; 
    padding: 5px;
}

.sidebar a:hover {
    background-color: #15a29f77;
    border-radius: 5px;
    color: #ffffff;
    font-weight: 700;
    transition: background-color 0.2s;
}

.sidebar-logo a:hover {
    background-color: transparent;
    border-radius: 0;
    color: inherit;
    font-weight: normal;
}

.sidebar-logo a {
    padding: 0px;
}

.sidebar a.active-link {
    background-color: #15a29f;
    border-radius: 5px;
    color: #ffffff;
    font-weight: bold;
}

.sidebar-logo {
    background-color: #ffffff;
    color: #ffffff;
    border: none;
}

.sidebar-logo:hover {
    background-color: #ffffff;
    color: #ffffff;
    border: none;
}

.sidebar-heading {
    font-weight: 600;
    background-color: #dedede;
    display: block; 
    padding: 5px;
    margin-top: 25px;
}

.content {
    flex-grow: 1; 
    margin-left: 0px; 
    box-sizing: border-box;
    min-width: 0; 
}

.content .container {
    max-width: 100%;
    padding: 0;
}

.header {
    width: 100%; 
    background-color: #dedede; 
    padding: 6px;
    box-sizing: border-box;
    border-bottom: 1px solid #555;
    position: sticky;
    top: 0;
    z-index: 10;
}
