textarea {
    min-height: 400px;
}

.email-item {
    border: 1px solid black;
    padding: 10px 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer; /* Add pointer cursor on hover */
}

.email-item-unread {
    background-color: #dedede;
}

.email-left-container {
    display: flex;
    align-items: center;
}

.email-sender {
    font-weight: bold;
    width: 220px; /* Consider if this fixed width is always desired */
    white-space: nowrap; /* Prevent sender from wrapping */
    overflow: hidden; /* Hide overflow if name is too long */
    text-overflow: ellipsis; /* Add ellipsis if name is too long */
}

.email-subject {
    margin-left: 10px;
    white-space: nowrap; /* Prevent subject from wrapping */
    overflow: hidden; /* Hide overflow if subject is too long */
    text-overflow: ellipsis; /* Add ellipsis if subject is too long */
}

.email-timestamp {
    color: gray;
    font-size: 0.9em;
    white-space: nowrap; /* Prevent timestamp from wrapping */
}

.email-header-line {
    margin-bottom: 5px; /* Add some space between header lines */
}

.email-header-label {
    font-weight: bold;
    margin-right: 5px; /* Add space after the bold label */
}

.reply-button {
    margin-top: 10px; /* Add space above the reply button */
    margin-bottom: 10px; /* Add space below the reply button */
}

.email-body-content {
    white-space: pre-wrap; /* Preserve whitespace and line breaks from the body */
    margin-top: 15px; /* Add space above the body content */
}