textarea {
    min-height: 400px;
}

.email-item {
    border: 1px solid black;
    padding: 10px 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.email-item-unread {
    background-color: #dedede;
}

.email-left-container {
    display: flex;
    align-items: center;
}

.email-sender {
    font-weight: bold;
    width: 220px; 
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis; 
}

.email-subject {
    margin-left: 10px;
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis; 
}

.email-timestamp {
    color: gray;
    font-size: 0.9em;
    white-space: nowrap; 
}

.email-header-line {
    margin-bottom: 5px; 
}

.email-header-label {
    font-weight: bold;
    margin-right: 5px; 
}

.email-button {
    margin-top: 10px; 
    margin-bottom: 10px; 
    margin-right: 4px;
}

.email-body-content {
    white-space: pre-wrap; 
    margin-top: 15px; 
}