{% extends "auctions/layout.html" %}

{% block body %}
    <!--h2>Active Listings</h2-->
        <div class="container">
            {% for auction in auctions %}
            <a href="{% url 'view' auction.id %}">
                <div class="item">
                    <img src="{{ auction.image_url }}" alt="Item image">
                  <div class="item-content">
                    <div class="item-title">
                            {{ auction.title }}
                    </div>
                  <div class="item-description">{{ auction.description }}</div>
                  <div class="item-footer">
                    <div class="item-price">${{ auction.start_bid }}</div>
                    <!--div class="item-bidder">Winner Bidder</div-->
                    <!--div class="item-watch">Watch</div-->
                    </div>
                  </div>
                </div>
            </a>
            {% endfor %}
        </div>
        
    </ul>    
{% endblock %}