{% extends "auctions/layout.html" %}

{% block body %}
        <div class="container">
            {% for auction in auctions %}
            <a href="{% url 'view' auction.id %}">
                <div class="item">
                    <img src="{{ auction.image_url }}" alt="Item image">
                  <div class="item-content">
                    <div class="item-title-container"> 
                        <div class="item-title">{{ auction.title }}</div>
                        <div class="item-badges"> 
                          <div class="item-badge bidder">Highest Bidder</div> 
                          <div class="item-badge outbid">Outbid</div> 
                          <div class="item-badge watching">Watching</div> 
                        </div>
                    </div>
                  <div class="item-description">{{ auction.description }}</div>
                  <div class="item-footer">
                    {% if auction.is_active %}
                        <div class="item-price">${{ auction.start_bid }}</div>
                    {% else %}
                        <div class="item-price-closed">${{ auction.start_bid }}</div>
                    {% endif %}
                    </div>
                  </div>
                </div>
            </a>
            {% endfor %}
        </div>
{% endblock %}