{% extends "network/layout.html" %}

{% block body %}
    <div class="container">
        <!-- Your post content will go here -->
        <p>Your posts will be displayed here.</p>
        <!-- Example of a post item structure similar to auctions:
        <div class="item">
            <img src="path/to/image" alt="Post image">
            <div class="item-content">
                <div class="item-title-container">
                    <div class="item-title">Post Title</div>
                    <div class="item-badges">
                        <div class="item-badge watching">Badge Text</div>
                    </div>
                </div>
                <div class="item-description">Post content here...</div>
                <div class="item-footer">
                    <div>Posted by: Username</div>
                </div>
            </div>
        </div>
        -->
    </div>
{% endblock %}