{% extends "encyclopedia/layout.html" %}

{% block title %}
    Encyclopedia - Add
{% endblock %}

{% block nav %}
    <div>
        <hr>
    </div>
    <div>
        <a href="https://help.github.com/en/github/writing-on-github/basic-writing-and-formatting-syntax" target="_blank" rel="noopener noreferrer">
            Markdown guide
        </a>
    </div>
{% endblock %}

{% block heading %}
    Create New Page
{% endblock %}

{% block body %}
    {% if error %}
    <div style="background-color: #ff9c9c; border: 1px solid black; border-radius: 2px; margin: 10px 8px 10px 0px; padding: 15px 4px; font-weight: 600;">
        Error: {{ error }}
    </div>        
    {% endif %}
    <form action="{% url 'add' %}" method="post">
        {% csrf_token %}
        {{ add_form }}
        <input class="btn btn-primary" type="submit" value="Submit">
    </form>
{% endblock %}