{% extends "encyclopedia/layout.html" %}

{% block title %}
    Encyclopedia - Edit {{ title }}
{% endblock %}

{% block nav %}
    <div>
        <hr>
    </div>
    <div>
        <a href="https://help.github.com/en/github/writing-on-github/basic-writing-and-formatting-syntax" target="_blank">
            Markdown guide
        </a>
    </div>
{% endblock %}

{% block heading %}
    Edit Page: {{title}}
{% endblock %}

{% block body %}
    <form action="{% url 'edit' title=title %}" method="post">
        {% csrf_token %}
        {{ edit_form }}
        <input class="btn btn-primary" type="submit" value="Submit">
    </form>
{% endblock %}