{% extends "encyclopedia/layout.html" %}

{% block title %}
    Encyclopedia - Search
{%endblock %}

{% block heading %}
    Search Results    
{% endblock %}

{% block body %}
    {% if search_results %}
        <p>Pages matching the search term "{{ search_term }}":</p>
        <ul>
            {% for entry in search_results %}
                <li>
                    <a href="{% url 'view' entry %}">{{ entry }}</a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No pages matching the search term "{{ search_term }}" were found.</p>
    {% endif %}
{% endblock %}