{% extends "quizly/layout.html" %}
{% load static %}
{% load post_filters %}

{% block head %}
    <script src="{% static 'quizly/index.js' %}"></script>
{% endblock %}

{% block body %}
    <div class="profile-container">
        {% if show_profile %}
            <div class="profile-header-wrapper" id="profile-section">
                <div class="profile-header">
                    <div class="profile-info">
                        <div class="profile-name">{{ owner.display_name }} ({{ owner.username }})</div>
                    </div>
                    <div class="profile-stats">
                        <div id="followers-count">Followers: {{ followers }}</div>
                        <div>Following: {{ following }}</div>
                        {% if active_filter == 'other' and user.is_authenticated %}
                            {% if is_following %}
                                <button class="btn btn-primary btn-sm" id="follow-button" data-user="{{ owner.id }}">Unfollow</button>
                            {% else %}
                                <button class="btn btn-primary btn-sm" id="follow-button" data-user="{{ owner.id }}">Follow</button>
                            {% endif %}
                        {% else %}
                            <button class="btn btn-primary btn-sm" id="follow-button" hidden="true" data-user="-1"></button>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endif %}
        
        <div class="profile-posts-container">
            {% for post in posts %}
                <div class="post-container">
                    <div class="post-name"><a href="{% url 'profile' post.user.id %}">{{ post.user.username }}</a></div>

                    <div class="post-content" id="post-view-{{ post.id }}">{{ post.content }}</div>

                    <div class="post-content" id="post-edit-{{ post.id }}" style="display: none;">
                        <textarea class="form-control mb-3" cols="40" rows="10" required></textarea>
                    </div>                                    
                    
                    {% if user.id == post.user.id and user.is_authenticated  %}  
                        <button class="btn btn-primary btn-sm btn-low" id="post-edit-button-{{ post.id }}" data-id="{{ post.id }}">Edit</button>
                        <button class="btn btn-primary btn-sm" id="post-save-button-{{ post.id }}" style="display: none;" data-id="{{ post.id }}">Save</button>
                        <button class="btn btn-primary btn-sm" id="post-cancel-button-{{ post.id }}" style="display: none;" data-id="{{ post.id }}">Cancel</button>
                    {% endif %}

                    <div class="post-date">{{ post.created_at }}</div>
                    <div class="post-likes{% if not user.is_authenticated %}-nouser{% endif %} {% if user.is_authenticated and post|is_liked_by:user %} liked {% endif %}"
                         id="post-likes-{{ post.id }}" data-id="{{ post.id }}">
                        <span class="heart"></span>
                        <span class="like-count">{{ post.get_likes_count }}</span>
                    </div>
                </div>
            {% endfor %}
        </div>

        {% if page_obj.paginator.num_pages > 1 %}
        <div class="pagination-wrapper">
            <nav aria-label="Page navigation" class="mt-4">
                <ul class="pagination justify-content-center">
                    {% if page_obj.has_previous %}
                        <li class="page-item">
                            <a class="page-link" href="?page=1" aria-label="First">
                                <span aria-hidden="true">&laquo;&laquo;</span>
                            </a>
                        </li>
                    {% else %}
                        <li class="page-item disabled">
                            <a class="page-link" href="#" aria-label="First">
                                <span aria-hidden="true">&laquo;&laquo;</span>
                            </a>
                        </li>
                    {% endif %}
                    {% if page_obj.has_previous %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                    {% else %}
                        <li class="page-item disabled">
                            <a class="page-link" href="#" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                    {% endif %}
                    {% for i in page_obj.paginator.page_range %}
                        {% if page_obj.number == i %}
                            <li class="page-item active"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                        {% elif i > page_obj.number|add:'-3' and i < page_obj.number|add:'3' %}
                            <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                        {% endif %}
                    {% endfor %}
                    {% if page_obj.has_next %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    {% else %}
                        <li class="page-item disabled">
                            <a class="page-link" href="#" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    {% endif %}
                    {% if page_obj.has_next %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}" aria-label="Last">
                                <span aria-hidden="true">&raquo;&raquo;</span>
                            </a>
                        </li>
                    {% else %}
                        <li class="page-item disabled">
                            <a class="page-link" href="#" aria-label="Last">
                                <span aria-hidden="true">&raquo;&raquo;</span>
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        </div>
        {% endif %}
    </div>
{% endblock %}

