{% extends "quizly/layout.html" %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'quizly/profile.css' %}">
    <script src="{% static 'quizly/profile.js' %}"></script>
{% endblock %}

{% block body %}
    {% csrf_token %}
    <div class="page-heading">
        <h2>{{ profile_user.display_name }}</h2>
        <p>{{ profile_user.username }}</p>
    </div>

    <div class="details-container">
        <h3 class="details-heading">My Details</h3>
        <div class="table-container">
            <table class="user-details-table">
                <tbody>
                    <tr>
                        <td>Username</td>
                        <td>{{ profile_user.username }}</td>
                    </tr>
                    <tr>
                        <td>First Name</td>
                        <td>{{ profile_user.first_name }}</td>
                    </tr>
                    <tr>
                        <td>Last Name</td>
                        <td>{{ profile_user.last_name }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="details-container">
        <h3 class="details-heading">Saved For Later</h3>
        <div class="table-container">
            {% if saved_for_later|length > 0 %}
                <table class="profile-table">
                    <thead>
                        <tr>
                            <th>Quiz Name</th>
                            <th>Category</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for quiz in saved_for_later %}
                            <tr>
                                <td><a href="{% url 'quiz' quiz.id %}">{{ quiz.name }}</a></td>
                                <td>{{ quiz.category.name }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p class="no-items">No quizzes saved for later.</p>
            {% endif %}
        </div>
    </div>

    <div class="details-container">
        <h3 class="details-heading">Completed</h3>
        <div class="table-container">
            {% if completed_quizzes|length > 0 %}
                <table class="profile-table">
                    <thead>
                        <tr>
                            <th>Quiz Name</th>
                            <th>Category</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for quiz in completed_quizzes %}
                            <tr>
                                <td><a href="{% url 'quiz' quiz.id %}">{{ quiz.name }}</a></td>
                                <td>{{ quiz.category.name }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p class="no-items">No completed quizzes.</p>
            {% endif %}
        </div>
    </div>

{% endblock %}

