{% extends "quizly/layout.html" %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'quizly/quiz.css' %}">
    <script src="{% static 'quizly/quiz.js' %}"></script>
{% endblock %}

{% block body %}
    <div>
        <ul>
            <li>{{ quiz.name }}</li>
            <li>{{ quiz.description }}</li>
            <li>{{ quiz.created_at }}</li>
            <li>{{ quiz.created_by }}</li>
            <li>{{ quiz.category }}</li>
            <li>{{ quiz.get_rating }}</li>
            <li>Questions
                <ul>
                {% for question in quiz.get_questions %}
                    <li>{{ question }}</li>
                {% endfor %}
                </ul>
            </li>
        </ul>
        
    </div>
{% endblock %}

