body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    width: 100%;
    max-width: 960px;
}

.container > a {
    text-decoration: none;
    display: block; 
}

.container > a:hover {
    text-decoration: none; 
    background-color: #f3f3fb;
}

.item {
    display: flex;
    width: 100%;
    min-width: 400px;
    padding: 1rem;
    border-bottom: 1px solid #ccc;
    box-sizing: border-box;
}

.item img {
    width: 192px;
    height: 192px;
    object-fit: contain;
    margin-right: 1rem;
    flex-shrink: 0;
}

.item-content {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.item-title-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.item-title {
    flex-grow: 1;
    margin-right: 10px; 
    margin-bottom: 10px;
    font-size: 1.5em; 
    font-weight: bold;
}

.item-badges {
    display: flex; 
    flex-shrink: 0; 
}

.item-badge {
    height: 27px;
    padding: 7px;
    margin-left: 11px; 
    margin-bottom: 15px;
    display: flex; 
    align-items: center; 
    justify-content: center; 
    font-size: 0.8em;
    font-weight: 500;
    border-radius: 4px; 
    background-color: #f0f0f0; 
    white-space: nowrap; 
    color:#ffffff;
}

.item-badge.watching {
    background-color: #405cfb;
}

.item-badge.bidder {
    background-color: #61b76c;
}

.item-badge.outbid {
    background-color: #b66a6a;
}

.item-description {
    flex-grow: 1;
    color: #555;
    margin-bottom: 1rem;
    max-height: 6.0em;
    overflow: hidden;
    line-height: 1.2em;
    line-clamp: 5;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
}

.item-footer {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}

.item-price {
    font-size: 1.2rem;
    font-weight: bold;
    color: #2a7;
}

.item-price-closed {
    font-size: 1.2rem;
    font-weight: bold;
    color: rgb(170, 34, 34);
}

.item-watch,
.item-bidder {
    font-size: 0.95rem;
    color: #333;
}

.page-container {
    display: flex;
    width: 100%;    
    max-width: 1170px;
    align-items: stretch; 
    margin-top: 1rem; 
}

.sidebar {
    width: 260px;
    flex-shrink: 0;
    padding: 15px; 
    margin-right: 10px;
    box-sizing: border-box;
    position: sticky;
    top: 50px;
    align-self: flex-start;
    height: calc(100vh - 50px);
    overflow-y: auto;
}

.sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar li {
    margin-bottom: 5px; 
}

.sidebar a {
    text-decoration: none;
    color: #333;
    display: block; 
    padding: 5px;
}

.sidebar a:hover {
    background-color: #4d90fe77;
    border-radius: 5px;
    color: #ffffff;
    font-weight: 700;
    transition: background-color 0.2s;
}

.sidebar-logo a:hover {
    background-color: transparent;
    border-radius: 0;
    color: inherit;
    font-weight: normal;
}

.sidebar a.active-link {
    background-color: #4d90fe;
    border-radius: 5px;
    color: #ffffff;
    font-weight: bold;
}

.sidebar-logo {
    background-color: #ffffff;
    color: #ffffff;
    border: none;
}

.sidebar-logo:hover {
    background-color: #ffffff;
    color: #ffffff;
    border: none;
}

.sidebar-heading {
    font-weight: 600;
    background-color: #dedede;
    display: block; 
    padding: 5px;
    margin-top: 25px;
}

.content {
    flex-grow: 1; 
    margin-left: 0px; 
    box-sizing: border-box;
    min-width: 0; 
}

.content .container {
    max-width: 100%;
    padding: 0;
}

.content .item {
    min-width: initial;
}

.header {
    width: 100%; 
    background-color: #dedede; 
    padding: 16px;
    box-sizing: border-box;
    border-bottom: 1px solid #555;
    position: sticky;
    top: 0;
    z-index: 10;
}

.header-content {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
    box-sizing: border-box;
    display: flex;
    justify-content: flex-end;
}

.page-title {
    margin-top: 16px;
    margin-bottom: 24px;
    border-radius: 5px;
    background-color: #4d90fe;
    color: white;
    padding-left: 12px;
    padding-top: 26px;
    padding-bottom: 22px;
}
